@use "./base.scss";

// put your custom CSS here!

/* 隱藏音訊播放器的三個點菜單 */
audio::-webkit-media-controls-panel {
  overflow: visible !important;
}

audio::-webkit-media-controls-overflow-button {
  display: none !important;
}

/* 針對 Firefox */
audio {
  -moz-user-select: none;
}

/* 禁用右鍵菜單（可選） */
audio {
  pointer-events: auto;
  -webkit-user-select: none;
  user-select: none;
}

audio::-webkit-media-controls-download-button {
  display: none !important;
}